@model IEnumerable<Domain.Models.User>
<div class="card" style="width:100%;height:85vh">
    <div style="padding:50px">
        @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => row + 1).Titled("#").Css("text-center");
        columns.Add(model => model.Mobile).Titled("Mobile");
        columns.Add(model => model.UserName).Titled("UserName");
        columns.Add(model => model.Credit).Titled("Credit");
        columns.Add(model => model.RealCredit).Titled("RealCredit");
        columns.Add(model => model.RegisterDateTime).Titled("RegisterDateTime").Formatted("{0:d}");
        columns.Add(model => model.DeviceName).Titled("DeviceName");
    })
    .Filterable(GridFilterCase.Lower)
    .Using(GridFilterMode.Header)
    .Using(GridProcessingMode.Manual)
    .Empty("No data found")
    .Pageable(pager =>
    {
        pager.TotalRows = ViewBag.TotalRows;
        pager.ShowPageSizes = false;
        pager.RowsPerPage = 20;
    })
//.Sortable()
)
    </div>
</div>
